body {
  font-family: 'Klee One', cursive;
  font-weight: 400;
  line-height: 1.7;
  color: $color-black;
}


.heading-primary {
  color: $color-white;
  user-select: none;
  margin-bottom: 6rem;

  &--main {
    display: block;
    font-size: 6rem;
    font-weight: 600;
    letter-spacing: 1rem;
    line-height: 1.2;
    margin-bottom: 3rem;
    animation: appearFromBack 1s ease-out .3s;
    animation-fill-mode: backwards;
  }

  &--sub {
    display: block;
    font-size: 2.2rem;
    font-weight: 600;
    letter-spacing: 1.65rem;
    animation: appearFromBack 1s ease-out .5s;
    animation-fill-mode: backwards;
  }
}

.heading-secondary {
  background: url("../images/bg-unagi.png") center no-repeat;
  background-size: contain;
  margin-bottom: 8rem;
  font-size: 4rem;
  font-weight: 600;
  display: inline-block;
  letter-spacing: 1rem;
  user-select: none;
}

.heading-tertiary {
  font-size: 2.4rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 3rem;
  letter-spacing: 1.2px;
}

.heading-quaternary {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.paragraph {
  font-size: 2.4rem;
  line-height: 1.4;

  &-small {
    font-size: 1.8rem;
    letter-spacing: 1.4px;
    line-height: 1.8;
  }
}